@using SuporteSolidario.ViewModel
@model SolicitacaoConcluidaViewModel

@{
    bool hasError = false;
    if(!String.IsNullOrEmpty(Model.MENSAGEM_ERRO))
    {
        hasError = true;
    }
}

<h2>@Model.TITULO_PAGINA</h2>

<div class="container">
    <div class="row justify-content-center mt-5">
        <center>
            <div class="col-md-5 mt-5">
                <p>Solicitação n° <strong>@Model.IdSolicitacao</strong></p>
                <p>Categoria: <strong>@Model.DescricaoCategoria</strong></p>
                <p>Serviço: <strong>@Model.DescricaoServico</strong></p>
                <p>Data do Serviço: <strong>@Model.DataServico</strong></p>
                <p>Detalhes do serviço: <strong>@Model.DescricaoServico</strong></p>
            </div>
        </center>
        
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 mt-1">
            <center><a href="@Url.Action("Index", "Cliente")" class="btn btn-primary">Ok</a></center>
        </div>
    </div>
</div>

@if(hasError)
{
    <br/>
    <br/>
    <center><strong class="text-danger">@Model.MENSAGEM_ERRO</strong></center>
}